<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for ('static', filename='css/output.css')}}" rel="stylesheet">
  <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

</head>
<body class="bg-dark font-light">


  <!-- Navigation bar -->
  <nav>
    <div class="mx-auto flex justify-center max-w-4xl mt-6 px-2 sm:px-6 lg:px-8">

      <div class="flex space-x-4">
          <a href="{{ url_for ('main.homepage') }}" class="rounded-md bg-gray-900 px-3 py-2 text-md font-medium text-white" aria-current="page">Home</a>
          <a href="{{ url_for ('main.projects') }}" class="rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-gray-700 hover:text-white transition-all">Projects</a>

      </div>


            <!--  ADMIN AUTHENTICATION -->
      </div>
  </nav>
  <!--     End Nav Bar         -->












  <!-- Main Content -->

  <main class="mx-auto max-w-4xl mt-12 px-2 sm:px-6 lg:px-8 ">
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>